/* 改变主题色变量 */
$--color-primary: #2974FF;

/*base color*/
$baseColor: #2974FF;

/*font size*/
$smSize: 12px;
$baseSize: 14px;
$lgSize: 16px;
$xlSize: 18px;

/*font weight*/
$baseW: 400;
$boldW: 700;

/*font color*/
$titleColor: #1D1D24;
