.el-button--large {
  min-width: 170px;
  font-size: $bigSize;
  padding: $smGap $midGap;
}
.el-button--default {
  border-color: $baseColor;
  color: $baseColor;
}
.el-button--text {
  color: $baseColor;
}

.pagination_wrapper {
  position: relative;
  .el-button-primary {
    position: absolute;
    top: 18px;
    left: $midGap;
  }
}
