.el-button--large {
  min-width: 170px;
}
.el-button--default {
  border-color: $baseColor;
  color: $baseColor;
}
.el-button--text {
  color: $baseColor;
  min-width: auto;
}
.primary-button {
  width: 170px;
  font-size: $bigSize;
}
