.el-button--large {
  min-width: 170px;
  font-size: $lgSize;
  padding: 8px $midGap;
}
.el-button--primary {
  font-size: $lgSize;
  padding: 8px $bigSize !important;
  height: 34px;
}
.el-button--default {
  font-size: $lgSize;
  border-color: $baseColor;
  color: $baseColor;
  height: 34px;
  line-height: 8px;
}
.el-button--text {
  color: $baseColor;
}
.pagination_wrapper {
  position: relative;
  .el-button-primary {
    position: absolute;
    top: 18px;
    left: $midGap;
  }
}
.el-input__inner {
  height:34px !important;
}
