@import "base";
@import 'button';
@import 'dialog';

body {
  background-color: #F2F4F5;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
body, html {
  height: 100%;
   font-family: Roboto,Segoe UI,sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  margin:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"]{
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

// 去掉自动填充颜色
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}
.el-header {
  height: 80px !important;
  padding: 0 30px !important;
}
.el-form-item.is-required .el-form-item__label:before {
  content: '';
}
.el-form-item.is-required .el-form-item__label:after {
  content: '*';
  color: #717283;
  margin-right: 4px;
}
.el-form-item__label {
  float:none !important;
  font-size:$baseSize !important;
  padding-left: $smGap;
  color:rgba(113,114,131,1);
}
.el-input__inner {
  background-color: transparent !important;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $baseGap;
  .page-title {
    color: $titleColor;
    font-size: $xgSize;
  }
}

%shadow {
  box-shadow: 2px 6px 8px rgba(142, 169, 190, 0.1);
}
.search-form {
  padding: 15px 30px 10px;
  border-radius: 8px;
  @extend %shadow;
  background-color: #fff;
  margin-bottom: 10px;
  .el-form-item {
    display: inline-block;
    margin-right: 30px;
  }
  .el-form-item__label{
    padding-left: 15px;
  }
}
.el-table {
  &::before {
    height: 0 !important;
  }
  thead {
    color: $titleColor;
    th {
      padding: 28px 0;
      background-color: #F5FAFF;
    }
  }
}
.el-table .cell {
  padding: 0 20px;
}
.el-table th.is-leaf, .el-table td {
  border: none;
}
.el-pagination {
  @extend %shadow;
  padding: 25px 30px !important;
  background-color: #fff;
  text-align: right;
}

// 无分页时样式
.table_placeholder {
  height: 50px;
}
