@import "base";
html {
  background: #f7f7f7;
}
body, html {
  height: 100%;
  // font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"]{
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

// 去掉自动填充颜色
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}




