@import 'button';
@import 'dialog';

body {
  background-color: #F2F4F5;
  min-width: 1024px;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
body, html {
  height: 100%;
   font-family: Roboto,Segoe UI,sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  margin:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"]{
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

// 去掉自动填充颜色
input:-webkit-autofill { box-shadow: 0 0 0 1000px white inset !important;}
.el-header {
  height: 80px !important;
  padding: 0 30px !important;
}
.el-form-item {
  width: 240px;
  display: inline-block;
  margin-right: 26px;
}
.date-form-item {
  width: 480px;
}
.el-select {
  width: 100%;
}
.el-form-item.is-required .el-form-item__label:before {
  content: '';
}
.el-form-item.is-required .el-form-item__label:after {
  content: '*';
  color: #717283;
  margin-left: 4px;
}
.el-form-item__label {
  float:none !important;
  font-size: 14px !important;
  color: rgba(113,114,131,1);
  line-height: 30px;
  padding-left: $smGap;
}
.el-input__inner {
  background-color: transparent;
}
.el-checkbox-groups-item > .el-checkbox {
  color: $titleColor;
  .el-checkbox__label {
    font-size: 16px;
  }
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: inherit;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #CCCCD5;
  border-color: #CCCCD5;
}
.el-input.is-disabled .el-input__inner {
  color: #606266;
}
.el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: inherit;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $baseGap;
  height: 75px;
  &.style2 {
    margin: 0 -30px;
    padding: 0 30px;
    border-bottom: 1px solid #2974FF;
  }
  .page-title {
    color: $titleColor;
    font-size: 24px;
    margin: 0;
  }
  .el-button--text {
    font-size: 16px;
    font-weight: bold;
    i, span {
      vertical-align: middle;
    }
  }
  .el-icon-close {
    font-weight: bold;
    font-size: 22px;
    margin-right: 5px;
  }
}

%shadow {
  box-shadow: 2px 6px 8px rgba(142, 169, 190, 0.1);
}
.search-form {
  position: relative;
  padding: 15px 230px 10px 30px;
  box-sizing: border-box;
  border-radius: 8px;
  @extend %shadow;
  background-color: #fff;
  margin-bottom: 10px;
  .buttons {
    position: absolute;
    width: 200px;
    padding-right: 30px;
    text-align: right;
    bottom: 32px;
    right: 0;
    display: flex;
    button {
      flex: 1;
    }
  }
}
.el-table {
  &::before {
    height: 0 !important;
  }
  thead {
    color: $titleColor;
    th {
      padding: 28px 0;
      background-color: #F5FAFF;
    }
  }
}
.el-table .cell {
  padding: 0 20px;
}
.el-table th.is-leaf, .el-table td {
  border: none;
}
.el-steps {
  margin: 35px 0;
}
.el-step__head.is-process {
  color: #fff;
  border-color: #717283;
  .is-text {
    border-color: $baseColor;
    background-color: $baseColor;
  }
}
.el-step__title.is-process {
  color: $titleColor;
}
.el-step__head.is-finish {
  color: #fff;
  border-color: #717283;
  .is-text {
    border-color: $baseColor;
    background-color: $baseColor;
  }
}
.el-step__title.is-finish {
  font-weight: bold;
  color: $titleColor;
}
.el-step__main {
  position: absolute;
  white-space: nowrap;
  background-color: #fff;
  left: 24px;
  top: -5px;
  padding: 0 18px 0 10px;
}
.el-step__line {
  margin-right: 10px !important;
}
.el-pagination {
  @extend %shadow;
  padding: 25px 30px !important;
  background-color: #fff;
  text-align: right;
}

.table-hover .el-table__row {
  cursor: pointer;
}

.table_placeholder {
  height: 50px;
}
