
.el-dialog {
  width: 650px;
  margin-top: 10% !important;
  .dialog-row {
    display: flex;
  }
  .el-select {
    width: 100%;
  }
  .el-dialog__title {
    font-size: $xgSize;
    color: $titleColor;
    padding-left: $midGap;
  }
  .el-form-item {
    width: 50%;
    padding: 0 $midGap;
    box-sizing: border-box;
  }
  .dialog-footer {
    margin-right: 26px;
    padding: 0 $midGap;
    .el-button + .el-button {
      margin-left: $midGap;
    }
  }
}
